services:
  samba:
    container_name: samba
    image: servercontainers/samba:latest
    restart: "unless-stopped"
    environment:
      TZ: Asia/Shanghai
      AVAHI_NAME: StorageServer
      ACCOUNT_tom: 95816
      UID_tom: 1000
      GROUPS_tom: 1000
      SAMBA_VOLUME_CONFIG_shares: "[Shares]; path=/shares/shares; valid users = tom; guest ok = no; browsable = yes; read only = no;"
      SAMBA_VOLUME_CONFIG_movies: "[Movies]; path=/shares/movies; valid users = tom; guest ok = no; browsable = yes; read only = yes;"
      SAMBA_VOLUME_CONFIG_series: "[Series]; path=/shares/series; valid users = tom; guest ok = no; browsable = yes; read only = yes;"
      SAMBA_VOLUME_CONFIG_timemachine: "[TimeMachine]; path=/shares/timemachine; valid users = tom; guest ok = no; read only = no; browseable = yes; fruit:time machine = yes; fruit:time machine max size = 500G"
    ports:
      - 139:139
      - 445:445
    volumes:
      - /mnt/common/timemachine:/shares/timemachine
      - /mnt/common/shares:/shares/shares
      - /mnt/series/library:/shares/series
      - /mnt/movies/library:/shares/movies