[Unit]
Description=Run Backup Script Before Shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target
# 确保在 Docker 里的邮件服务停止之前运行
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/zsh /home/tom/code/nas/utils/backup.zsh
TimeoutStopSec=300
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target reboot.target