# admin:liuyuchuan
services:
  jellyfin:
    container_name: jellyfin
    image: linuxserver/jellyfin:latest
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Shanghai
      # 启用 Docker Mods 功能
      - DOCKER_MODS=linuxserver/mods:universal-package-install
      - INSTALL_PACKAGES=fonts-noto-cjk-extra intel-media-va-driver
    # ports:
    #   - 8096:8096
    volumes:
      - ./config:/config
      - /mnt/common/shares/fonts:/media/fonts:ro
      - /mnt/common/shares/.art:/media/art:ro
      - /mnt/series/library:/media/series:ro
      - /mnt/movies/library:/media/movies:ro
    devices:
      - /dev/dri:/dev/dri
    networks:
      - webnet
networks:
  webnet:
    external: true
