#admin:liuyuchuan
services:
  alist:
    image: xhofe/alist:latest
    container_name: alist
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      PUID: 1000
      PGID: 1000
      UMASK: 2
    volumes:
      - ./config:/opt/alist/data
    # ports:
    #   - 5244:5244
    networks:
      - webnet
networks:
  webnet:
    external: true
